/* ----estilo general----- */
@import url('https://fonts.cdnfonts.com/css/segoe-ui-variable-static-display');

html{
    font-size: 1rem;
    font-family: 'Segoe UI Variable Static Display', sans-serif;
    color: white;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    font-family: var(--fuente-base);
    overflow: hidden;
    background-color: #7c8597;
}

.taskbar{
    width: 100vw;
    background: linear-gradient(180deg, #8B96B1 11.54%, #929295 14.9%, #132F47 75%);
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
}

.taskbar .taskbar-logo{
    position: sticky;
    width: 3vw;
    left: 0.5rem;
    cursor: pointer;
}

.desktop{
    width: 100vw;
    height: 100vh;
    background-image: url(../img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.widgets{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: end;
    align-items: center;
    gap: 2rem;
}

.widget{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.widget-img{
    width: 10vw;
    height: auto;
}

.widget.selected {
    border: 3px solid whitesmoke;
    border-radius: 0.5rem;
}

.widget-name{
    font-size: 1.1rem;
    color: var(--color-fuente-secundario);
}




