@import url('https://fonts.cdnfonts.com/css/segoe-ui-variable-static-display');


body{
    font-size: 1rem;
    font-family: 'Segoe UI Variable Static Display', sans-serif;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;

}
.logo{
    width: 50vw;
    height: auto;
    margin-bottom: 1rem;
}

.start{
  margin-top: -20px;
    justify-items: center;
    display: block;
}

.loader{
display: block;
margin-top: 5rem;
justify-items: center;
}

.container {
  width: 150px;
  height: 10px;
  border: 2px solid #b2b2b2;
  border-radius: 7px;
  margin: 0 auto;
  padding: 2px 1px;
  overflow: hidden;
  font-size: 0;
}

.box {
  width: 9px;
  height: 100%;
  background: linear-gradient(to bottom, #2838c7 0%,#5979ef 17%,#869ef3 32%,#869ef3 45%,#5979ef 59%,#2838c7 100%);
  display: inline-block;
  margin-right: 2px;
  animation: loader 2s infinite;
  animation-timing-function: linear;
}

.btn-start img{
  display: none;
    width: 110px;
    height: 80px;
    cursor: pointer;
}

@keyframes loader {
  0% {
    transform: translate(-30px);
  }

  100% {
    transform: translate(150px);
  }
}
